*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}
header {
 background-image:url(../css/img.sgv/image.png);
 padding: 200px;
 width: Hug (438px)px;
height: Hug (279px)px;
top: 197px;
left: 95px;
gap: 64px;
opacity: 0px;

}

