*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}
header {
 background-image:url(./img.sgv/bg.png);

}

nav {
    padding: 16px 92px;
    display: flex;
    justify-content: space-between;
    & ul{
        display: flex;       
       gap: 16px;
       & li a{
        color: aliceblue;
       }
    }
    & button{
        background-color:#3b44f6 ;
        color: aliceblue;
        width: 90px;
        height: 38px;
        border-radius: 8px;
        gap: 10px;
        border: none;   
    }
 & button:last-child{
background-color: transparent;
border: aliceblue 1px solid;
 }

 }


  






  





